/* Gol Fresh Home Screen */

.latest-products {
  text-align: left !important;
  padding-top: 25px !important;
}

.latest-products .product-paragraph p {
  padding-bottom: 0px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.latest-products h3.h3 {
  font-weight: 500;
  font-size: 18px;
}

.market-offers-lg {
  background: url(../images/background1.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  right: 0px;
  text-align: right;
  background-size: cover;
}
.market-offers-md img {
  height: 166px !important;
  width: 145px !important;
}

/* .market-offers-lg img {
  width: 120px;
  height: 120px;
  text-align: right;
  right: 0px;
  margin-top: -22px;
  position: relative;
} */

.market-offers-right {
  background: url(../images/background2.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  right: 0px;
  text-align: right;
}

.market-offers-vegetable {
  top: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  right: 0px;
  text-align: right;
  height: 130px;
}

.market-detail-lg {
  background: url(../images/market/market-cover.jpg);
}
.market-search-products {
  height: 100%;
}
.market-search-products .market-collection-lg {
  padding-top: 0px;
  text-align: center;
}
.market-search-products ul li h6.h6 {
  color: #4a4a4a !important;
  font-size: 17px !important;
  font-weight: 400 !important;
}
.market-search-products ul li h4.h4 {
  color: #4a4a4a !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.market-search-products .form_search {
  width: 55%;
}
.market-search-products .order-box {
  margin-bottom: 0px;
}
.market-search-products .checkout-shopping-details {
  padding: 10px;
  padding-top: 40px;
}
.market-search-products .checkout-shopping-details .order-box .sub-total {
  border-bottom: 0px transparent;
}
.market-search-products ul li a {
  color: #81ba00;
}

.market-offers-lg img {
  width: 187px;
  height: 167px;
  text-align: right;
  right: 0px;
  margin-top: -47px;
  object-fit: contain;
  position: relative;
}

.market-offers-vegetable {
  top: 34px;
}

.home-banner-slider {
  height: 53vh;
}

.btn.btn-transparent {
  padding: 13px 29px;
  color: #222222;
  letter-spacing: 0.05em;
  border: 1px solid #222222;
  background-color: whitesmoke;
}

.home .offer-banner-lg {
  padding: 20px;
  padding-top: 50px;
}

.home .offer-banner-lg h2.h2 {
  color: #ffffff;
  font-weight: 700;
}

.home .offer-banner-lg .product-paragraph p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.market-collection-lg {
  padding: 20px;
  padding-top: 70px;
  text-align: center;
}

.market-collection-lg h2.h2 {
  color: #ffffff;
  background-color: transparent;
  text-transform: capitalize;
  font-weight: 700;
  padding: 5px;
}

.market-collection-lg .product-paragraph p {
  color: #222222;
  background-color: #ffffff;
  text-transform: capitalize;
  padding: 5px;
}
.online-shop-collection {
  text-align: center;
}
.online-shop-collection h4.h4 {
  color: #004aab;
}

.site-feedback {
  padding-top: 20px;
}

.site-feedback a {
  text-decoration: underline;
  text-decoration-color: #ffffff;
  display: inline-block;
  padding: 20px;
  padding-left: 0px;
}

.site-feedback h5.h5 {
  color: #ffffff;
}

.market-offer-md img {
  width: 100%;
}

.online-order {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 8%);
  margin: -32px 0px 24px;
  padding: 15px 16px;
  position: relative;
  transition: box-shadow 0.1s ease;
  -webkit-transition: box-shadow 0.1s ease;
  -moz-transition: box-shadow 0.1s ease;
  -ms-transition: box-shadow 0.1s ease;
  -o-transition: box-shadow 0.1s ease;
  z-index: 1;
}

.online-order h6.h6 {
  font-size: 18px;
  font-weight: 600;
}

.footer-end {
  text-align: center;
}

.footer-sub-title {
  margin-top: 20px;
}

.footer-sub-title h4.h4 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}

.footer-cards-asset ul li {
  display: inline-block !important;
}

.header-search-bar .form_search {
  display: inline-block;
  margin: 30px;
  margin-top: 0px;
  border-radius: 5px;
}

.offers-cover-container {
  display: block;
  width: 100%;
  height: 256px;
  position: relative;
  margin-top: 20px;
}

.offers-cover-container .offers-cover-container__label {
  display: inline-block;
  padding: 10px 15px;
  background: #fff;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  -webkit-box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  position: absolute;
  left: 18px;
  top: 18px;
  z-index: 1;
}

.offers-cover-container .offers-cover-container__label h3.h3 {
  margin: 0;
  font-weight: 600;
  color: #222222;
  font-size: 18px;
}

.offers-cover-container .offers-cover-container__label h3.h3:hover {
  color: #81ba00;
}

.market-info-container {
  background-color: #fff;
  /* max-width: 900px; */
  width: 80%;
  margin-top: 30px;
  padding: 15px 20px;
}

.market-info-container ul.market-info-list-container {
  margin: 0;
  padding: 0;
  list-style: none;
}

.market-info-container ul.market-info-list-container > li {
  display: block;
}

.shopping-mart {
  margin: 30px;
  margin-top: 0px;
  text-align: right;
}

.shopping-mart ul li {
  display: inline-block;
}

.shopping-mart .choose-date,
.shopping-mart .favourite-select,
.shopping-mart .add-cart {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 6px;
  margin-top: 0px;
}

.input-form-search {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.input-form-search button {
  top: -1px;
  right: -49px;
  width: 48px;
  height: 47px;
  padding: 0px;
  background-color: #81ba00;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.input-form-search .fa-search:before {
  color: white !important;
}

/* .fa-heart:before {
    color: white;
} */

.fa-user:before {
  color: white;
}

.products-box .img-wrapper .lable-block .lable4,
.product-wrap .img-wrapper .lable-block .lable4 {
  position: absolute;
  font-weight: 600;
  font-size: 11px;
  text-transform: capitalize;
  -webkit-writing-mode: initial;
  -ms-writing-mode: tb-rl;
  writing-mode: horizontal-tb;
  -webkit-transform: matrix3d;
  transform: inherit;
  top: 12px;
  width: 100%;
  max-width: 100px;
  min-width: 80px;
  /* right: 7px; */
  left: 0px;
  letter-spacing: 0.1em;
  z-index: 1;
  padding: 4px 8px;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #81ba00;
}

.maximum-percent {
  bottom: 48px;
  left: 2px;
  position: absolute;
  z-index: 1;
  color: white;
  box-shadow: rgb(0 0 0 / 7%) 0px 14px 28px, rgb(0 0 0 / 7%) 0px 10px 10px;
  display: flex;
  border-radius: 7px;
  overflow: hidden;
}

.brands-product-item {
  margin-bottom: 20px;
  padding-top: 0px !important;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 11%),
    inset 0 1px 0 0 rgb(255 255 255 / 46%);
  border-radius: 5px;
}

.brands-product-item h5.h5 {
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
}

.brands-product-item h3.h3 {
  font-size: 20px;
  font-weight: 600;
  color: #4a4a4a;
}

.product-tab .tab-head h2.h2 {
  color: #4a4a4a;
  font-size: 26px;
  font-weight: 600;
}

.product-tab .tab-head h4.h4 {
  font-size: 22px;
  font-weight: 600;
}

.category-details-md {
  padding: 0px !important;
}

.addtocart_count .product-box .product-detail {
  padding: 5px;
}
.footer-bottom-align {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.footer-bottom-align .subscribe {
  margin: 25px 0px;
  padding: 0px 12px;
  display: inline-block;
}
.footer-bottom-align .privacy-section {
  border: none;
}
.section-no-space {
  padding-bottom: 0px;
}
.sidebar-categories {
  margin: 10px 0px;
  cursor: pointer;
}
.sidebar-categories:hover {
  color: #8dc045;
}

.shopping-schedule-modal .modal-dialog .quick-view-modal button.btn-close,
.theme-modal .modal-dialog .demo_modal button.btn-close {
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 5px;
  font-size: 25px;
}
.shopping-schedule-modal .modal-dialog {
  width: 500px;
}
.shopping-schedule-modal .product-right .border-product {
  border-top: 1px solid #dddddd;
}
.pick-up-date {
  text-align: center;
  margin-top: 10px;
}
.pick-up-date img {
  object-fit: contain;
}
.header-section-md {
  background-color: #edecec;
  padding: 3px;
  padding-left: 10px;
}
.header-section-md a .sub-arrows {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 25px;
  width: 27px;
  height: 23px;
  overflow: hidden;
  font: bold 12px/33px monospace !important;
  text-align: center;
  text-shadow: none;
  border-radius: 2px;
}
.header-section-md a .sub-arrows::before {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
}

.header-section-md li a,
.header-section-md li a:hover,
.header-section-md li a:active {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 11px;
}
.interest-percent {
  top: 20px;
  left: 10px;
  position: absolute;
  z-index: 1;
  color: white;
}
.part span {
  font-size: 18px;
  font-weight: 600;
}
.single-products-table table {
  width: 60%;
}
.cart-section .cart-table,
.wishlist-section .cart-left-table {
  display: inline-block;
  background-color: #f9f9f9;
  padding: 10px;
}
.checkout-shopping-details {
  position: relative;
  background-color: #f9f9f9;
  border: none;
  padding: 40px;
}
.sub-footer {
  background-color: #f9f9f9;
}
.cart-shopping-section tbody tr td,
.wishlist-section tbody tr td {
  text-align: left;
}
.cart-shopping-section .cart-table thead th,
.wishlist-section .cart-table thead th {
  text-align: left;
}
.cart-shopping-section tbody tr td {
  min-width: 155px;
}
.cart-shopping-section tbody tr td h2,
.wishlist-section tbody tr td h2 {
  font-size: 18px;
}
.cart-shopping-section tbody tr td h6 {
  margin-bottom: 0rem;
  font-weight: 600;
}
.cart-shopping-section tbody tr td label {
  color: red;
}
.cart-shopping-section tbody tr td .maximum-percent {
  bottom: 20px;
  left: 70px;
  position: absolute;
  box-shadow: none;
}

.checkout-shopping-details .pick-up-service li h6.h6 {
  font-size: 23px !important;
  color: red;
  font-weight: 600;
}
.checkout-shopping-details .pickup-service li h6.h6 {
  font-size: 17px !important;
  color: #81ba00;
}
.section-listing-space .search-listings h4.h4 {
  font-size: 18px !important;
  font-weight: 700 !important;
}
.section-listing-space ul li a {
  font-size: 16px;
}
.section-listing-space .fa {
  margin-right: 4px;
}
.section-listing-space .cycle-box .cart-detail li a,
.section-listing-space .cycle-box .cart-detail li button {
  font-size: 15px;
  color: #81ba00;
}
.section-listing-space .cycle-box .product-detail .details li + li {
  margin-left: 0px;
}
.section-listing-space .cycle-box .cart-detail li + li {
  border: none !important;
}
.stickyCart {
  padding-bottom: 0px !important;
}
.section-listing-space .add-location-map {
  background-color: transparent !important;
}
.section-listing-space .add-location-map .fa {
  font-size: 17px;
  color: #4a4a4a;
}
.section-listing-space .place-list-detail {
  border: none;
}
.section-listing-space .place-order-time span {
  color: #81ba00;
}

.section-listing-space .cycle-box .bottom-detail {
  margin-top: 0px;
}
.section-listing-space .offers-button-list span {
  color: #4a4a4a;
  text-decoration: underline;
}
.section-listing-space .offers-button-list .fa {
  color: #4a4a4a;
}
.online-registration {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.footer-theme .sub-title h4.h4 {
  font-size: 14px;
  color: #222222;
  margin-bottom: 25px;
  text-transform: capitalize;
  font-weight: 700;
}
#faqSection .collapsible-lg {
  width: 35%;
  color: #81ba00;
  font-size: 14px;
  padding: 3px;
  font-weight: 600;
  border: none;
  background-color: transparent;
}
.right-cart-details {
  padding: 10px;
}
.order-box .sub-total li .count-date {
  font-size: 13px;
}
.order-box .sub-total .service-details {
  font-weight: 400;
}
.table-position-left {
  position: relative;
}
.table-position-right {
  position: sticky !important;
  top: 10px;
}
.order-box .total li .item-models {
  width: 85% !important;
}
.order-box .total li .item-models a {
  text-decoration: underline;
  color: #777777;
}
.product-right h4.h4 {
  font-size: 20px;
  font-weight: 500;
}
.border-product p {
  font-size: 16px;
}
.delivery-service-detail {
  position: relative;
}
.delivery-service-detail h2.h2 {
  color: #ffffff;
  background-color: transparent;
}
.delivery-service-detail .checkout-shopping-details {
  background-color: transparent;
}
.media-left-section,
.media-right-section {
  justify-content: center;
  padding-left: 0px !important;
  border: none !important;
}
.testimonial-section {
  background-color: transparent;
}
.product-description-add {
  text-align: center;
}
.product-description-add h5 {
  font-weight: 700;
  color: #81ba00;
  margin-bottom: 0;
  margin-top: 7px;
}

.testimonial-section .media-right-section .text-center,
.testimonial-section .media-left-section .text-center {
  text-align: left !important;
  padding: 15px;
}
.delivery-service-detail {
  position: relative;
}
.delivery-service-detail::before {
  content: "";
  position: absolute;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.delivery-service-detail h2.h2 {
  position: relative;
  z-index: 2;
}
.title-heading {
  margin-top: 55px !important;
}
.title-heading h3.h3 {
  font-size: 22px;
  font-weight: 700;
}
.bakes-food-order .text-center img {
  width: 100%;
}
.food-supply-order {
  width: 150px;
  height: 64px;
  display: inline-block;
}
.food-supply-order img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.bakes-food-order .pickup-order-detail {
  min-height: 80px;
  margin-top: 15px;
}
.pickup-order-detail h3.h3 {
  font-weight: 500;
  font-size: 20px;
}
.testimonial .testimonial-slider .media-left-section img,
.testimonial .testimonial-slider .media-right-section img {
  border-radius: 0px;
  border: none;
  width: 100%;
}
.latest-products-center {
  text-align: center !important;
}
.pickup-latest-products {
  padding: 15px;
  min-height: 120px;
  padding-top: 20px !important;
}
.pickup-latest-products h4.h4 {
  font-size: 18px;
}
.pickup-latest-products h6.h6 {
  font-size: 14px;
  letter-spacing: 1px;
}
.bakes-food-order {
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 12%);
}
.title-heading-delivery {
  margin-top: 0px !important;
}
.market-profile-detail {
  text-align: center;
  padding-top: 20px;
}
.market-profile-detail .market-profile-img {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.market-profile-detail .market-profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  outline: 3px solid #fff;
}
.cart-select-details h5.h5 {
  color: #777777;
  font-weight: 500;
}
.cart-select-details h5.h5 a {
  font-size: 15px;
  color: #777777;
  text-decoration: underline;
  text-decoration-color: #777777;
}
.shopping-carts-lg img {
  height: 75px !important;
}
.order-box .title-right-box {
  font-size: 14px;
  font-weight: 900;
  padding-bottom: 12px;
  text-transform: uppercase;
}
.cart-section tbody tr td .td-color,
.wishlist-section tbody tr td .td-color {
  color: #777777;
}
.order-box .sub-total li .count {
  color: #777777;
}
.product-style-1.product-box {
  padding: 0px;
}
.product-box .product-view img {
  max-height: 150px;
}
.product-box .img-wrapper .front,
.product-wrap .img-wrapper .front {
  margin-top: 40px;
}
.ui-timepicker-viewport {
  padding-right: 0px !important;
  transition-timing-function: ease-out;
}
.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
}
.media-links img {
  width: 10%;
}

/* associate cloud css */
.main-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9;
}
.main-menu .menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-menu .brand-logo {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100px;
}
.main-menu .brand-logo img {
  width: 100px;
}

.online-add-products {
}
.banner-navigation {
  background: url(../images/banners/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  right: 0px;
  text-align: right;
  height: 25rem;
}
.technology-application-banner {
  background: url(../images/banners/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  right: 0px;
  text-align: center;
  height: 25rem;
}
.technology-application-banner h3.h3 {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  padding-top: 3rem;
  white-space: pre-line;
}
header {
  background-color: transparent;
}
.pixelstrap a,
.pixelstrap a:hover,
.pixelstrap a:active {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}
.left-progress-section {
  text-align: center;
}
.left-progress-section img {
  width: 300px;
}
.right-progress-section h3.h3 {
  color: #004aab;
  word-spacing: 2px;
  letter-spacing: 2px;
}
.right-progress-section p {
  word-spacing: 2px;
  letter-spacing: 2px;
}
.right-progress-section h6.h6 {
  color: #004aab;
}
.right-progress-section span {
  color: black;
  font-size: 13px;
  font-weight: 400;
}
.owl-item .testi-header {
  /* width: 60px;
  width: 60px; */
}
.owl-item .testi-header img {
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  height: 150px;
  text-align: center;
  display: inline-block;
}
.testi-content {
  text-align: left;
}
.testi-content p,
.testi-footer p {
  color: #004aab;
}
.owl-item .testi-footer {
  text-align: left;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: left;
}
.owl-carousel .owl-stage-outer {
  padding: 20px 0px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #d6d6d6;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #004aab;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  outline: none;
}
.services-section {
  text-align: center;
}

.services-section h6.h6 {
  color: #6dacff;
}
.services-section h3.h3 {
  color: #004aab;
  white-space: pre-line;
}
.cards-solutions {
  text-align: left;
  margin: 0px;
  padding: 4px 10px;
}
.cards-solutions:hover {
  box-shadow: 0 2px 4px 0px rgb(134, 134, 245);
}
.technology-list {
  width: 65px;
  height: 65px;
}
.technology-list img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.services-section h2.h2 {
  color: #004aab;
  font-weight: 600;
}
.services-section span {
  color: #6dacff;
}
.cloud-icon {
  width: 200px;
  height: 175px;
  display: inline-block;
}
.cloud-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.services-section img {
  width: 30px;
}
.right-arrow h6.h6 {
  text-decoration: underline;
  text-decoration-color: #004aab;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}
.contact-section-lg {
  background-color: #6dacff;
  margin-bottom: -55px;
  text-align: left;
  border-radius: 10px;
}
.contact-section-lg h2.h2 {
  color: #004aab;
  font-weight: 700;
}
.contact-section-lg h5.h5 {
  color: white;
  font-weight: 600;
}
.footer-cloud {
  background-color: #011842;
  text-align: center;
}
.sub-footer-links ul li {
  display: inline-block;
  color: #6dacff;
}
.sub-footer-links ul li a {
  color: #6dacff;
  text-decoration: none;
}
.next-arrow h6.h6 {
  color: #004aab;
}
.slider-move {
  width: 150px;
  height: 70px;
}
.slider-move img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.brand-carousel-lg .owl-carousel .owl-stage-outer {
  padding: 0px;
}
.testi-header img.slider-image-md {
  width: 74px;
  position: absolute;
  right: 40px;
  object-fit: contain;
}

/* ///end associate cloud */

/* end online orders */

@media (min-width: 300px) and (max-width: 575px) {
  .form_search input {
    font-size: 12px;
  }
  .input-form-search button {
    right: 0px;
    border-radius: 0px;
  }
}

@media (max-width: 767px) {
  .cart-section .cart-table,
  .wishlist-section .cart-table {
    overflow-x: auto;
  }
  .cart-section .cart-table thead th:nth-last-child(-n + 4) {
    display: block;
  }
  .cart-section tbody tr td:nth-last-child(-n + 4) {
    display: block;
  }
  .cart-section tbody tr td .mobile-cart-content {
    display: none;
  }
}

/* media queries */
